body {
	background-color: #000000;
	margin: 0;
	padding: 0;
	border-style:none;
	font-family:"arial","helvetica";
	text-align: center;
}
#divMain {
	margin:0 auto;
	width:900px;
	text-align: left;
}
#main_image {
	margin-top: 8px
}

a:link { text-decoration: none; color:#665555; }
a:visited { text-decoration: none; color:#665555; }
a:hover { text-decoration: underline; color:#b8a99b;}
a:active { text-decoration: underline; }
a.menuItem { font:10pt "arial", "helvetica"; color:#665555;}
a.menuItem:hover { font:10pt "arial", "helvetica"; text-decoration: underline; color:#b8a99b; }
p { font: 12pt "arial", "helvetica"; color:#b8a99b;}
.pIndent {text-indent:50px} 
.txt { font: 12pt "arial", "helvetica"; color:#b8a99b;}
.txtBold { font-weight: bold;}
.txtItalic { font-style:italic;}
.txtSmall { font: 10pt "arial", "helvetica"; color:#b8a99b;}
h1 { color: #b8a99b; font-family:"Papyrus", "arial", "helvetica"; font-size: 24pt; font-weight: bold; margin-top: 8px; margin-bottom: 0px; }
h2 { color: #b8a99b; font-family: Tahoma,sans-serif; font-size: 24pt; font-weight: bold; margin-bottom: 0px; margin-top: 1em; text-indent: 2em; }
small {text-align:right; display: block; font-size: x-small;}
.margNo { margin-bottom: 0px; margin-top: 0px;}
.margBottom { margin-bottom: 8px; margin-top: 0px;}

.menuBar {
	margin:0 auto;
	background-color: #000000;
	width:900px;
}
.menuField {
	width:16%;
	float:left;
	margin-bottom:12px;
	margin-top:0px;
}


.borderTop {
	border-top-style: solid ; 
	border-top-color: #b8a99b; 
	border-top-width: 1px;
}
.borderBottom {
	border-bottom-style: solid ; 
	border-bottom-color: #b8a99b; 
	border-bottom-width: 1px;
}

.floatLeft { float:left; margin-top:0px;margin-right:10px;}
.floatRight { float:right; margin-top:0px;margin-right:10px;}

.clear:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}
.clear {
	min-height: 1px;
}
* html .clear {
	height: 1px;
}


.galleria{list-style:none;width:900px}
.galleria li{display:block;height:75px;overflow:hidden;float:left;margin:0 10px 10px 0}
.galleria li a{display:none}
.galleria li div{position:absolute;display:none;top:0;left:180px}
.galleria li div img{cursor:pointer}
.galleria li.active div img,.galleria li.active div{display:block}
.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
.galleria li .caption{display:block;padding-top:.5em;}

.caption {font: 12pt "arial", "helvetica"; color:#b8a99b; font-style:italic; font-weight:normal;}


* html .galleria li div span{width:900px} /* MSIE bug */